@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px auto;
    font-family: 'Lato';
    background: #666;
    color: #fff;
    
}

main {
    height: 100vh;
}

header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    background: gray;
}

header nav a:hover {
    background: #fff;
    color: black;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

ul li {
    list-style: none;
    margin: 1em;
}

ul li:nth-child(even) a{
    position:relative;
    background:#cfc;
}

ul li:nth-child(3n) a{
    position:relative;
    background:#ccf;
  }

ul li a {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 17em;
    width: 17em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transition: transform .15s linear;
}

ul li a:hover, ul li a:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
    cursor: pointer;
}

h3 {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 2rem;
    font-family: 'Reenie Beanie';
}

/* localizacao */

form {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form select {
    width: 300px;
    height: 30px;
    margin: 20px;
    background: gray;
    color: white;
}


/* footer */

footer {
    height: 100px;
    background: gray;
}

footer nav a {
    display: inline;
    text-decoration: none;
    color: white;
    margin: 20px ;
    font-size: 1.2em;
}

footer nav p {
    display: inline;
}

footer nav a:hover {
    text-decoration: underline;
}

/* menu responsivo */

@media all and (max-width: 500px) {
    nav {
        margin-top: 100px;
    }

    nav a {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}